<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>695058383778-5hrokgcvpknr24lgg3n8i4a85lrdqff1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.695058383778-5hrokgcvpknr24lgg3n8i4a85lrdqff1</string>
	<key>API_KEY</key>
	<string>AIzaSyALPetI9HNnUpL45k-XcaD6DvqYS9tT1Tc</string>
	<key>GCM_SENDER_ID</key>
	<string>695058383778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobileProgramming</string>
	<key>PROJECT_ID</key>
	<string>mobile-programming-fb58c</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-programming-fb58c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695058383778:ios:406348a129873fbe9828fb</string>
</dict>
</plist>